
<style> 
</style>

<main class="main">
 
  <div class="practicum2-directives-and-services">
    <div> 
      <h3>Practicum Secont _____ 3 task</h3>
    </div>
    <div>
      <app-user-profile></app-user-profile>
    </div>  
  </div>
 
  <div class="practicum2-directives-and-services">
    <div> 
      <h3>Practicum Second _____ 2 task</h3>
    </div>
    <div>
      <app-login></app-login>
    </div>  
  </div>

  <div class="practicum2-directives-and-services">
    <div> 
      <h3>Practicum Second _____ 1 task</h3>
    </div>
    <div>
      <app-receiver></app-receiver>
    </div> 
    <div>
      <app-sender></app-sender>
    </div>
  </div>


  <div class="second-task">
    <app-parent-container></app-parent-container>
  </div>
  
  <div class="first-task">
    <app-dynamic-container></app-dynamic-container>
  </div>
 

  <div class="Calculator">
    <app-calculator-general></app-calculator-general>
  </div>

  <div class="content"> 

   <app-user-info></app-user-info> 
   <app-more-info-button></app-more-info-button> 

  </div> 
</main> 
