
<style> 
</style>

<main class="main">
 
  <div class="third-task">
    <app-third-task></app-third-task>
  </div>
<main class="main">
 
  <div class="second-task">
    <app-parent-container></app-parent-container>
  </div>
  
  <div class="first-task">
    <app-dynamic-container></app-dynamic-container>
  </div>
 

  <div class="Calculator">
    <app-calculator-general></app-calculator-general>
  </div>

  <div class="content"> 

   <app-user-info></app-user-info> 
   <app-more-info-button></app-more-info-button> 

  </div> 
</main> 
